[build]
  base = "denemepedi/frontend"
  command = "yarn install && yarn build"
  publish = "build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
